* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(255, 255, 255);
}

.nav {
  background-color: rgb(36, 41, 46);
  height: 4.5rem;
  width: 100%;
  display: flex;
  color: white;
}

.round {
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 2rem;
}

.logo1 {
  width: 3rem;
}

input {
  outline: none;
  border: 1px solid grey;
  height: 2rem;
  width: 20rem;
  background: none;
  border-radius: 5px;
  margin-left: 1rem;
}

::placeholder {
  color: white;
  font-weight: 500;
  padding-left: 1rem;
}

.talk {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slash {
  margin-left: -1.5rem;
}

.offer {
  display: flex;
}

.bell {
  display: flex;
  align-items: center;
  width: 10rem;
  padding-left: 58rem;
}

.tita {
  margin-left: 1rem;
}

.plus {
  padding-left: 1rem;
}

.tita {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

p {
  padding-left: 1rem;
  font-size: 14px;
  font-weight: 700;
}

.main {
  padding-top: 4rem;
  border-bottom: 1px solid #c5c1c1;
  padding-bottom: 1rem;
}

.one {
  display: flex;
  align-items: center;
  margin-left: 37rem;
}

.book {
  margin-left: 2rem;
}

span {
  margin-left: 0.5rem;
}

.avatar {
  width: 19rem;
  height: 19rem;
  border-radius: 50%;
  position: relative;
  top: -2rem;
  left: 15rem;
}

.avatar:hover {
  cursor: pointer;
}

.smiley {
  background: #fff;
  border: 1px solid #ece9e9;
  border-radius: 50%;
  height: 2.75rem;
  width: 2.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 31rem;
  top: -6.85rem;
}

.smiley:hover {
  cursor: pointer;
}

.profile {
  margin-left: 15rem;
}

.name {
  color: #5c5656;
  font-size: 22px;
}

.bg {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dbddde;
  height: 2rem;
  width: 19rem;
  background-color: #fafbfc;
  border-radius: 5px;
  margin-top: 1rem;
}

.bg:hover {
  cursor: pointer;
  background-color: #dbe8f5;
  transition: 0.3s;
}

.edit {
  color: #312d2d;
  font-size: 14px;
  font-weight: 500;
}

.follower {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  border-bottom: 1px solid #dbddde;
  width: 19rem;
  padding-bottom: 2.5rem;
  /* justify-content: center; */
}

.org {
  padding-top: 1rem;
}

.villa {
  height: 3rem;
  width: 4rem;
}
